{include file="common/head"/}
<link href="/style/css/article.css" rel="stylesheet">
<div id="article">
	<section class="goods_banner"></section>
	<div class="infoBox w1200 clearfix">
		<div class="col1">
			<div class="mt">
				<p>{$info.title}
					<span>发布时间：{:toDate($info['createtime'],'Y-m-d')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					文章来源： <a href="/about/2.html" target="_blank">{$info.copyfrom}</a></span>
				</p>
			</div>
			<div class="mc">
				{$info.content}

			</div>
		</div>
		<div class="col2">
			<div class="article_list">
				<div class="mt">优选文章</div>
				<ul class="mc">
					{clt:list_join db='article' dbfield='catid' id='vo' joindb='category' joinfield='id' where='posid = 5 and catid=".input(catId)." ' order="listorder asc,createtime desc" limit='10'}
                       <li><a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" style="{:style($vo['title_style'])}" title="{$vo.title}">{$vo.services}{$vo.title}</a></li>
                    {/clt:list_join}
				</ul>
			</div>
			<div class="pro_list">
				<div class="mt">优选案例</div>
				<ul class="mc">
					{clt:list_join db='case' dbfield='catid'  id='vo' joindb='category' joinfield='id' where='posid = 5' order="listorder asc,createtime desc" limit='5'}
					<li>
						<a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" target="_blank">
							<div class="img_box">
								<img src="/public{$vo.thumb}"/>
							</div>
							<p class="title">{$vo.title}</p>
						</a>
					</li>
					{/clt:list_join}
					
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{include file="common/footer"/}