{include file="common/head"/}
<link href="/style/css/article.css" rel="stylesheet">
<div id="article">
	<section class="goods_banner"></section>
	<div class="listtable w1200 clearfix">
		<ul class="col1">
			{volist name="$list" id="vo"}
				<li>
					<a href="{:url('home/'.$vo['controller'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" title="{$vo.title}" class="clearfix">
						<div class="img_box">
							<img alt="" src="{$vo.title_thumb}">
						</div>
						<div class="info_box">
							<p class="title" style="{$vo.title_color};{$vo.title_weight}">{$vo.title}</p>
							<p class="desc">{$vo.description}</p>
							<p class="time">{:toDate($vo['createtime'],'Y-m-d H:i:s')}</p>						
						</div>
					</a>
				</li>
			{/volist}
			<div>{$page}</div>
		</ul>
		 
		<div class="col2">
			<div class="article_list">
				<div class="mt">优选文章</div>
				<ul class="mc">

					 {clt:list_join db='article' dbfield='catid' id='vo' joindb='category' joinfield='id' where='posid = 5 and catid=".input(catId)." ' order="listorder asc,createtime desc" limit='10'}
                       <li><a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" style="{:style($vo['title_style'])}" title="{$vo.title}">{$vo.services}{$vo.title}</a></li>
                    {/clt:list_join}
				</ul>
			</div>
			<div class="pro_list">
				<div class="mt">优选案例</div>
				<ul class="mc">
					{clt:list_join db='case' dbfield='catid'  id='vo' joindb='category' joinfield='id' where='posid = 5' order="listorder asc,createtime desc" limit='5'}
					<li>
						<a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}" target="_blank">
							<div class="img_box">
								<img src="/public{$vo.thumb}"/>
							</div>
							<p class="title">{$vo.title}</p>
						</a>
					</li>
					{/clt:list_join}
					
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- maincontent end here -->
{include file="common/footer"/}