{include file="common/head"/}
<link href="/style/css/contact.css" rel="stylesheet">
<div id="contact">
	<section class="contact_banner"></section>
	<div class="w1200 contact">
		<div class="contact_box">
			<p class="title">重庆焦点网络科技有限公司<span>CHONGQING FOCUS NETWORK TECHNOLOGY CO., LTD</span></p>
			<div class="mc clearfix">
				<p class="tel">400-023-5868</p>
				<p>电　话：023-72871888　023-72871881</p>
				<p>传　真：023-87878088　</p>
				<p>地　址：重庆市涪陵区泽胜中央广场A栋22楼B区</p>
				<p>邮　箱：Service@ijiaodian.cn</p>
			</div>
		</div>
		<div class="pay_box">
			<p class="title">支付方式</p>
			<div class="mc">
				单位名称：重庆焦点网络科技有限公司</br>
				开户银行：联系客服索取</br>
				帐号：联系客服索取
			</div>
			<p class="title" style="margin-top: 32px;">焦点网络公司支付宝账户：</p>
			<div class="mc">
				姓名：方玮玲</br>
				农行（浙江省营业中心）62284 80320 10544 0111</br>
				招行（官巷口支行）4682 0358 6868 1688</br>
				工行（城站支行）622202 120200 2870948</br>
				建行（宝石支行）43674 21540 01020 7541</br>
				支付宝账户：Eileen@guide.net.cn
			</div>
		</div>
		<div class="alipy_box">
			<img src="picture/pay_phone_alipy.png">
		</div>
	</div>
</div>
<div id="allmap" style="width: 70%;margin: 0 auto;margin-bottom: 20px;"></div>
<script type="text/javascript" src="/style/js/36bcafc73b80472aabe86cabaed935af.js"></script>
<script type="text/javascript" src="/style/js/8968b1e96b9e46e8aeb4ff1a45ce88e2.js"></script>
<script>

var map = new BMap.Map("allmap");
map.centerAndZoom(new BMap.Point(), 20);  // 初始化地图,设置中心点坐标和地图级别
map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
var point = new BMap.Point(107.405322,29.706819);
map.centerAndZoom(point, 19);
var marker = new BMap.Marker(point);  // 创建标注
map.addOverlay(marker);              // 将标注添加到地图中

var label = new BMap.Label("重庆焦点科技网络", {offset: new BMap.Size(-68, -56)});
marker.setLabel(label);
</script>

{include file="common/footer"/}
